.btn-blue {
    color: #fff;
    background-color: #30cade;
    border-color: #30cade;
}

.btn-blue:hover {
    color: #fff;
    background-color: #8dedeb;
    border-color: #8dedeb;
}

.btn-blue:focus,
.btn-blue.focus {
    color: #fff;
    background-color: #8dedeb;
    border-color: #8dedeb;
    box-shadow: 0 0 0 0.2rem rgba(117, 197, 254, 0.68);
}

.btn-blue.disabled,
.btn-blue:disabled {
    color: #fff;
    background-color: #8dedeb;
    border-color: #8dedeb;
}

.btn-blue:not(:disabled):not(.disabled):active,
.btn-blue:not(:disabled):not(.disabled).active,
.show>.btn-blue.dropdown-toggle {
    color: #fff;
    background-color: #8dedeb;
    border-color: #8dedeb;
}

.btn-blue:not(:disabled):not(.disabled):active:focus,
.btn-blue:not(:disabled):not(.disabled).active:focus,
.show>.btn-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #55e0de;
}

a {
    /* display: block; */
    color: #fff;
}

h1 {
    background-color: #55e0de;
    color: #fff;
}